NUXT_PUBLIC_EVENT_NAME=Boda de Camila & Andres
NUXT_PUBLIC_EVENT_DATE=25 de julio de 2026
NUXT_PUBLIC_EVENT_TIME=14:00
NUXT_PUBLIC_EVENT_VENUE=Quinta Boutique Kristal
NUXT_PUBLIC_EVENT_ADDRESS=Principal de San Francisco de Alpahuma. Valle de los Chillos — Quito
NUXT_PUBLIC_EVENT_MAP_URL=https://www.google.com/maps/place/Quinta+Krystal+Hotel+Boutique/@-0.3423903,-78.4017385,17z/data=!3m1!4b1!4m9!3m8!1s0x91d5bde0cde41817:0xe919a005646f845d!5m2!4m1!1i2!8m2!3d-0.3423903!4d-78.4017385!16s%2Fg%2F11hf8477wj?entry=tts
NUXT_PUBLIC_RSVP_DEADLINE=30 de junio de 2026

SUPABASE_URL=https://iwizopgkwpozzpaschsk.supabase.co
SUPABASE_KEY=sb_publishable_v9RysSdSYmrKRP0zNyh2CA_iOKr9-BS

NUXT_SUPABASE_URL=${SUPABASE_URL}
NUXT_SUPABASE_KEY=${SUPABASE_KEY}
NUXT_SUPABASE_SERVICE_ROLE_KEY=
NUXT_SUPABASE_DB_PASSWORD=
NUXT_ADMIN_PASSWORD=
